<div class="calendar-container flex justify-between">
  <div class="info-container relative">
    <div class="info-wrapper">
      <button class="info-button text-gray-600 hover:text-gray-900 focus:outline-none focus:text-gray-900" aria-label="Info">ℹ️</button>
      <div class="info-text absolute left-5 mb-9 bg-white border border-gray-200 rounded-lg shadow-md p-4 overflow-hidden hidden">
        <div class="info-text-content overflow-auto">
          <strong class="block mb-2">Kalendāra lietošanas pamācība</strong>
          <ol class="list-decimal pl-5">
            <li>
              Jauna rezervācija:
              <ul class="list-disc pl-5">
                <li>Noklikšķiniet uz datuma.</li>
                <li>Aizpildiet rezervācijas datus.</li>
                <li>Nospiediet apstiprināt pogu.</li>
              </ul>
            </li>
            <li class="mt-3">
              Rediģēt rezervāciju:
              <ol class="pl-5">
                <li>
                  <span>2.1 Parasts lietotājs:</span>
                  <ul class="list-disc pl-9">
                    <li>Noklikšķiniet uz rezervācijas, kas ir zaļā krāsa.</li>
                    <li>Veiciet izmaiņas.</li>
                    <li>Nospiediet apstiprināt pogu.</li>
                  </ul>
                </li>
                <li>
                  <span>2.2 Administrators:</span>
                  <ul class="list-disc pl-9">
                    <li>Noklikšķiniet uz rezervācijas (gan sarkanās, gan zaļās).</li>
                    <li>Veiciet izmaiņas.</li>
                    <li>Nospiediet apstiprināt pogu.</li>
                  </ul>
                </li>
              </ol>
            </li>
            <li class="mt-3">
              Paralēlā rezervācija
              <ol class="pl-5">
                <li>
                  <span>3.1 Aktīva:</span>
                  <ul class="list-disc pl-9">
                    <li>Var veikt rezervāciju pārklājoties laikiem ar izvēlēto zirgu vai poniju, tikai tad ja izvēlētais zirgs vai ponijs jau nav laika periodā izvēlēts.</li>
                  </ul>
                </li>
                <li>
                  <span>2.2 Nav aktīva:</span>
                  <ul class="list-disc pl-9">
                    <li>Rezervāciju nevar veikt nekādā gadījumā, ja izvēlētais laiks pārklājas.</li>
                  </ul>
                </li>
              </ol>
            </li>
            <li class="mt-3">
              Lai rediģētu grupu, jānospiež poga "Rediģēt" (spēj tikai kalendāra administrators).
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>