<div class="flex flex-col items-center justify-between mt-4">
  <h1 class="text-black text-center text-xl font-bold">Jūsu treniņu kalendāri</h1>
</div>
<div class="flex justify-end">
  <%= link_to 'Izveidot kalendāra grupu', new_calendar_group_path, class: "bg-gray-500 text-white font-bold py-2 px-4 rounded inline-block hover:bg-blue-900 hover:text-white" %>
</div>
<div class="flex justify-center mt-2 mb-2">
  <%= paginate @calendar_groups %>
</div>
<div class="flex justify-center mt-3 ml-5">
  <% if @calendar_groups.present? %>
    <ul class="mb-1 w-full">
      <% @calendar_groups.each do |calendar_group| %>
        <li class="border-b border-gray-600 mb-2 pb-3 text-center shadow-md bg-gray-50  p-4">
          <%= link_to calendar_group.group_name, calendar_group_path(calendar_group, current_user_id: current_user.id), class: "text-lg font-bold cursor-pointer text-center" %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Jums nav nevienas kalendāra grupas</p>
  <% end %>
</div>
<div class="flex justify-center mt-2 mb-2">
  <%= paginate @calendar_groups %>
</div>