<div class="p-4">
  <div class="p-4 flex items-center justify-between">
    <%= link_to calendar_groups_path, class: "bg-gray-500 text-white font-bold py-2 px-4 rounded inline-block hover:bg-blue-900 hover:text-white mr-4" do %>
      <%= image_tag("arrow.svg", alt: "Arrow button", class: "w-6 h-6") %>
    <% end %>
    <div class="text-center">
      <h1 class="text-3xl font-bold">Jauna kalendÄra grupa</h1>
    </div>
    <div></div>
  </div>
  <%= render 'form', calendar_group: @calendar_group %>
</div>