<div id="new-reservation">
  <h1 class="text-3xl font-bold mb-4">Jauna rezervÄcija</h1>
  <%= render 'form', reservation: @reservation, calendar_group: @calendar_group, calendar_participant_join_table: @calendar_participant_join_table %>
</div>
