.avatar-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;

    transition: width 0.3s, height 0.3s;
  }
  
  .avatar-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: cover;
    transition: transform 0.3s;
  }

  .avatar-container:hover .avatar-image,
  .avatar-container:hover .avatar-container-hover .avatar-image {
    transform: scale(1.2);
  }
  
  .avatar-container-hover:hover .avatar-image {
    transform: scale(1.2);
  }

  .link-overlay:hover {
    background-image: linear-gradient(to right, rgba(231, 231, 231, 0.2), rgba(183, 172, 172, 0.5), rgba(231, 231, 231, 0.2));
    text-decoration: underline;
    border-radius: 10px; /
  }
