.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* ensure the popup appears above other content */
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 90vw; /* Adjust the maximum width as needed */
    max-height: 100vh; /* Adjust the maximum height to fill the entire viewport height */
    overflow: auto; /* Add scrolling if content exceeds max height */
}

.full-image {
    max-width: 100%; /* Adjust the maximum width as needed */
    max-height: 100%; /* Adjust the maximum height as needed */
}

.popup-options {
    margin-top: 10px;
}

.info-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
  }
  
  .info-box p {
    margin: 7px 0;
    margin-top: 10px;
  }
  .highlight-text {
    color: rgb(0, 0, 0); /* Text color */
    padding: 6px 8px; /* Padding around the highlighted text */
    border-radius: 5px; /* Rounded corners for the highlighted text */
  }

  .image-container {
    margin-top: 10px; /* Adjust as needed */
    text-align: center;
  }
  
 

  .info-box-container {
    position: relative;
  }
  
  .info-box-content {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    max-width: 250px;
    border: 1px solid #ccc;
    background-color: #ede9e9;
    padding: 20px;
    border-radius: 10px;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .info-box-content.hidden {
    opacity: 0;
    pointer-events: none;
  }

  .click {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999; 
  }

  .image-wrapper{
    position: relative;
  }
  .description-container {
    padding: 0 10px;
    text-align: justify;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  .description-content p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit the number of lines to 2 */
    -webkit-box-orient: vertical;
  }
  
  .description-content p.show-full-text {
    -webkit-line-clamp: initial; /* Show all lines */
  }
  
  .show-more-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: blue; /* Customize the button color as needed */
  }
