<h1><%= @calendar_pony.pony_name %></h1>
<p><%= @calendar_pony.description %></p>
<%= link_to 'Edit', edit_calendar_group_calendar_pony_path(@calendar_group, @calendar_pony) %>
<%= link_to 'Back', calendar_group_calendar_ponies_path(@calendar_group) %>
