<div class="flex-grow h-full">
  <div class=" py-8">
    <div class="container mx-auto text-center">
      <h2 class="text-3xl font-bold mb-4 text-gray-800">Laipni lūdzam "Lec!" – Treniņu plānošanas un zirgu rezervācijas mājaslapā!</h2>
      <p class="text-gray-800">
        Esam priecīgi tevi sveikt "Lec!" – vietā, kur jātnieki satiekas, lai organizētu un dalītos savā jāšanas pieredzē.
        <br>
        <br>
        Šī mājaslapa ir izstrādāta tieši jātniekiem, kas meklē daudzveidīgas un inovatīvas iespējas savu treniņu plānošanai un zirgu rezervācijai. "Lec!" piedāvā visu, kas nepieciešams, lai jūsu jāšanas pieredze būtu gan aizraujoša, gan organizēta.
      </p>
      <h3 class="text-xl font-bold mb-4 mt-4 text-gray-800">Kas mēs esam?</h3>
      <p class="text-gray-800">
        "Mēs esam jāšanas entuziasti un IT profesionāļi, kuri vienojušies, lai radītu "Lec!" – vietu, kur jūs varat izbaudīt jāšanas piedzīvojumus pilnībā. Mūsu mērķis ir radīt lietotājam draudzīgu un inovatīvu platformu, kas atbilst jūsu vajadzībām un nodrošina vislabāko pieredzi jāšanas sporta pasaulē."
      </p>
      <h3 class="text-xl font-bold mb-4 mt-4 text-gray-800">Ko mēs piedāvājam?</h3>
      <p class="text-gray-800">
        "Mēs piedāvājam jums iespēju plānot un organizēt savus treniņus, izvēlēties no daudzveidīga treniņu un maršrutu piedāvājuma, kā arī rezervēt zirgus vai ponijus savai jāšanas pieredzei. Mūsu mērķis ir nodrošināt jums vislabāko pieredzi jāšanas sportā, piedāvājot vienkāršu un intuitīvu saskarni, kurā jūs varat viegli atrast visu nepieciešamo informāciju un resursus."
      </p>
      <h3 class="text-xl font-bold mb-4 mt-4 text-gray-800">Kā sākt?</h3>
      <p class="text-gray-800">
        "Lai sāktu izmantot "Lec!", reģistrējieties mūsu mājaslapā un izbaudiet visas tās priekšrocības. Ja jums ir jautājumi vai nepieciešama palīdzība, nekautrējieties sazināties ar mūsu atbalsta komandu – mēs esam šeit, lai palīdzētu jums izbaudīt jūsu jāšanas piedzīvojumus maksimāli!"
      </p>
      <h3 class="text-xl font-bold mb-4 mt-4 text-gray-800">Piedalieties mūsu kopienā!</h3>
      <p class="text-gray-800">
        "Pievienojieties "Lec!" kopienai un dalieties savā jāšanas pieredzē ar citiem lietotājiem. Dalieties savos treniņos, veidojiet jaunus maršrutus un iepazīstiet citus jātniekus, kuri kopīgo jāšanas aizraušanos."
      </p>
    </div>
  </div>
</div>
