<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Sveiki <%= @name %>,</p>
    <p>Pateicamies par Jūsu ziņu. Mēs esam saņēmuši Jūsu ziņu un pārbaudīsim to pēc iespējas drīzāk.</p>
    <p>Lūdzu, ņemiet vērā, ka šis ir automātiski izveidots e-pasts, un to nevajadzētu atbildēt.</p>
    <p>Paldies,</p>
    <p>LEC komanda</p>
  </body>
</html>
