<!DOCTYPE html>
<html>
  <head>
    <title>Atbalsta ziņa</title>
  </head>
  <body>
    <p>Vārds: <%= @name %></p>
    <p>E-pasts: <%= @email %></p>
    <p>Ziņa: <%= @message %></p>
  </body>
</html>
