<!-- app/views/errors/internal_server_error.html.erb -->
<div class="h-1/2 flex items-center justify-center bg-gray-100">
  <div class="text-center">
    <h1 class="text-4xl font-bold text-gray-900">500 - Internal Server Error</h1>
    <p class="mt-2 text-gray-600">Notika kļūda</p>
    <a href="<%= welcome_page_url %>" class="inline-block bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded transition duration-300">Atgriezties uz sākumlapu</a>
  </div>
</div>
