<div class=" py-8 h-full">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold mb-4 text-black">Par mums</h2>
    <p class="text-black leading-relaxed">
      Mājaslapa "Lec!" ir speciāli izstrādāta jāšanas sporta entuziastiem, piedāvājot plašu un daudzveidīgu iespēju klāstu. Galvenais mērķis ir nodrošināt jātniekiem iespēju organizēt un plānot savus treniņus, kā arī rezervēt zirgus vai ponijus izbraukumiem un treniņiem.
      <br><br>
      Šajā mājaslapā jātnieki var izvēlēties starp dažādiem treniņu veidiem, ieskaitot "maršrutus", "vingrinājumus" un pat iespēju izveidot savu unikālo maršrutu. Katrs treniņa veids ir aprakstīts ar detalizētām norādēm par šķēršļu novietojumu un sagaidāmajiem rezultātiem.
      <br><br>
      Viena no mājaslapas galvenajām funkcijām ir kalendāra sadaļa, kas ļauj jātniekiem veidot kopīgas grupas un dalīties ar kalendāra notikumiem. Šī funkcija nodrošina efektīvu komunikāciju starp jātniekiem un ļauj plānot un koordinēt treniņus un izbraukumus kopīgi.
    </p>
  </div>
</div>
