.info-wrapper:hover .info-text {
    display: block;
  }
  
  .info-text {
    display: none;
    background-color: rgb(221, 211, 211);
    z-index: 1000;
    width: 400px;
    transition: opacity 0.5s ease-in-out; /* Apply transition */
    opacity: 0; /* Initially invisible */
  }
  
  .info-text-content {
    max-height: 200px;
  
  }
  
  /* Additional styles for better readability */
  .info-button {
    cursor: pointer;
  }

