#step-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

#button-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
}

.step-indicator {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  margin: 0 5px; 
}


.current-step {
  background-color: rgb(133, 134, 137);
  color: white;/
}

.draggable-svg {
  cursor: pointer;
}

#canvas {
    cursor: grab;
}

#canvas:active {
    cursor: grabbing;
}


#buttons-container {
  order: 1; 
  margin-right: 20px;
}

canvas {
  max-width: calc(100% - 200px); /* Make the canvas responsive, adapting to the container width minus the width of the buttons container */
  height: auto; /* Allow the canvas height to adjust proportionally to its width */
}

/* CSS for larger screens */
@media (min-width: 768px) {
  canvas {
      max-width: calc(100% - 200px); /* Make the canvas responsive, adapting to the container width minus the width of the buttons container */
      max-height: 100%; /* Make the canvas responsive, adapting to the container height */
  }
}

/* Adjust form fields for responsiveness */
.field {
  margin-bottom: 20px; /* Add spacing between fields */
  text-align: center; /* Center align text fields */
}

/* Make form fields responsive */
input[type="text"],
textarea,
select {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  font-size: 16px;
  margin: 0 auto;
}

.image-container {
  position: relative;
  display: inline-block;
  margin: 0 10px;
}

.info-box {
  display: none;
  position: absolute;
  max-width: 500px;
  min-width: 150px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  white-space: normal;
  z-index: 10;
}



.image-container:hover .info-box {
  display: block;
}