.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  overflow: auto;
}

.close-btn {
  cursor: pointer;
}

.description-box {
  border: 1px solid #ccc;
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  width: 200px; 
  background-color: #fff;
  z-index: 1;
}
.select-container {
  position: relative;
  display: inline-block;
}
select {
  width: 200px; 
}

#default-value{
  background-color: rgb(79, 79, 79);
  color: white;
}


.flex {
  display: flex;
}

.calendar-container {
  display: flex;
  justify-content: center; 
}

.new-reservation-container {
  display: none;
  height: fit-content;
}



/* Add CSS for hover effect and scrolling */
.info-wrapper:hover .info-text {
  display: block;
}

.info-text {
  display: none;
  background-color: rgb(221, 211, 211);
  z-index: 1000;
  width: 400px;
  transition: opacity ease-in-out;
  opacity: 0; 
}

.info-text-content {
  max-height: 200px;

}

/* Additional styles for better readability */
.info-button {
  cursor: pointer;
}

.fc-daygrid-dot-event {
  display: block;
  word-wrap: break-word;
}
.reservation-time{
  word-wrap: break-word;
}
