<div class="p-4 flex items-center justify-between">
  <%= link_to exercises_path, class: "bg-gray-500 text-white font-bold py-2 px-4 rounded inline-block hover:bg-blue-900 hover:text-white" do %>
    <%= image_tag("arrow.svg", alt: "Arrow button", class: "w-6 h-6") %>
  <% end %>
  <div class="text-center">
    <h1 class="text-xl font-bold ">Rediģēt novietojumu "<%= @exercise.exercise_name%>"</h1>
  </div>
  <div></div>
</div>
<%= render 'form', exercise: @exercise %>
